*{
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    list-style-type: none;
}

/* **********Body********** */

/* **********Header********** */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    margin-right: 50px;
    margin-left: 50px;
}

header img{
    cursor: pointer;
    width: 95px;
    height: 45px;
}

.navheader{
    cursor: pointer;
    display: flex;
}

.navheader1{
    border-top: 2px solid;
    border-top-color: #0065FC;
    margin-right: 70px;
    padding: 15px 0;
    color: #0065FC;
    font-weight: 500;
}

.navheader1 a{
    color: #0065FC;
    font-weight: 500;  
}

.navheader1:visited{
    color:#0065FC;
}
.navheader1 a:visited{
    color:#0065FC;
}

.navheader2{
    margin-right: 70px;
    color: black;
    font-weight: 500;
    padding: 1rem 0;
}

.navheader2 a{
    
    color: black;
    font-weight: 500;
}

.navheader2 a:visited{
    color: black;
}

.navheader2:visited{
    color: black;
}

.navheader3{
    margin-right: 75px;
    color: #0065FC;
    font-weight: bold;
    padding: 1rem 0;
}

.navheader3 a{
    margin-right: 75px;
    color: #0065FC;
    font-weight: bold;
}

.navheader3 a:visited{
    color:#0065FC;
}

.navheader3:visited{
    color:#0065FC;
}
/* **********Header********** */
/* **********Main********** */
main{
    padding-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
}

/* **********section recherche********** */
.titrerecherche h1{
    font-size: 20px;
}

.titrerecherche p{
    padding-top: 5px;
    font-size: 15px;
}

.recherche form{
    display: flex;
    margin-top: 20px;
    padding-top: 20px;
}

.logorecherche{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #F2F2F2;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    
}

.logorecherche i{
    padding-left: 20px;
    padding-right: 20px;
}

.zonerechercher{
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-bottom: solid #F2F2F2;
    border-top: solid #F2F2F2;
}

form button{
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 13px;
    font-weight: bold;
    background-color: #0065FC;
    color: white;
}

.filtre{
    display: flex;
    padding-top: 40px;
}

.info{
    padding-top: 20px;
}
/* **********section recherche********** */
/* **********section hébergements********** */

/* **********section hébergements********** */
/* **********section activités********** */

/* **********section activités********** */
/* **********Main********** */
/* **********Footer********** */

/* **********Footer********** */

/* **********Body********** */