*{
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    list-style-type: none;
}

html{
    overflow-x: hidden;
}

/* **********Body********** */

/* **********Header********** */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    margin-right: 10%;
    margin-left: 10%;
}

header img{
    cursor: pointer;
    width: 95px;
    height: 45px;
}

.navheader{
    width: 30rem;
    margin-bottom: 16px;
    height: 100%;
    display: flex;
}

.navheader1{
    margin-right: 70px;
    padding: 15px 0;
    font-weight: 500;
    color: black;
}

#héberg{
    border-top: 2px solid;
    border-top-color: #0065FC;
    color: #0065FC;
}

#héberg a{
    color: #0065FC;
    font-weight: 500;  
}

#héberg:visited{
    color:#0065FC;
}
#héberg a:visited{
    color:#0065FC;
}

.navheader1{
    margin-right: 70px;
    color: black;
    font-weight: 500;
    padding: 1rem 0;
}

.navheader1 a{
    
    color: black;
    font-weight: 500;
}

.navheader1 a:visited{
    color: black;
}

.navheader1:visited{
    color: black;
}

.navheader3{
    color: #0065FC;
    font-weight: bold;
    padding: 1rem 0;
}

.navheader3 a{
    margin-right: 75px;
    color: #0065FC;
    font-weight: bold;
}

.navheader3 a:visited{
    color:#0065FC;
}

.navheader3:visited{
    color:#0065FC;
}
@media all and (max-width: 1024px){
    .header{
        display: flex;
        height: auto;
        align-items: flex-start;
        flex-direction: row;
        justify-content: space-between;
    }
    .navheader{
    width: 100%;
    }

    .header nav{
        position: absolute;
    }
    
    .header nav ul{
    align-items: flex-start;
    justify-content: flex-end;
    flex-wrap: wrap-reverse;
    width: 375px;
    height: 100px;
    margin-left: -44px;
    }
    .navheader1{
        width: 25%;
        justify-content: center;
    }
    #héberg{
        border-top: none;
        border-bottom: 2px solid;
        border-bottom-color: #0065FC;
    }    
    .navheader3{
        width: 50%;
        align-items: center;
        justify-content: flex-end;
    }
}
/* **********Header********** */
/* **********Main********** */
main{
    padding-top: 50px;
    margin-right: 10%;
    margin-left: 10%;
}

@media all and (max-width: 1024px){
    .main{
        width: 375px;
    }
}
/* **********section recherche********** */
.titrerecherche h1{
    font-size: 20px;
}

.titrerecherche p{
    padding-top: 5px;
    font-size: 15px;
}

.recherche form{
    display: flex;
    margin-top: 20px;
    padding-top: 20px;
}

.logorecherche{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #F2F2F2;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    
}

.logorecherche i{
    padding-left: 20px;
    padding-right: 20px;
}

.zonerechercher{
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-bottom: solid #F2F2F2;
    border-top: solid #F2F2F2;
    outline:none;    
}

.zonerechercher:focus{
    outline:none;
}

form button{
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 13px;
    font-weight: bold;
    background-color: #0065FC;
    color: white;
}

.filtre{
    display: flex;
    padding-top: 40px;
    align-items: center;
}

.filtre h3{
    margin-right: 30px;
    font-size: 17px;
}

.l1{
        border: solid 2px #F2F2F2;
        border-bottom-right-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 25px;
        border-top-left-radius: 25px;
        cursor: pointer;
}
.l2{
        border: solid 2px #F2F2F2;
        border-bottom-right-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 25px;
        border-top-left-radius: 25px;
        cursor: pointer;
}
.l3{
        border: solid 2px #F2F2F2;
        border-bottom-right-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 25px;
        border-top-left-radius: 25px;
        cursor: pointer;
}
.l4{
        border: solid 2px #F2F2F2;
        border-bottom-right-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 25px;
        border-top-left-radius: 25px;
        cursor: pointer;
}

.l1:hover{
    background-color: #0065FC;
    color: white;
}
.l2:hover{
    background-color: #0065FC;
    color: white;
}
.l3:hover{
    background-color: #0065FC;
    color: white;
}
.l4:hover{
    background-color: #0065FC;
    color: white;
}

.filtre div{
    display: flex;
    align-items: center;
    font-size: 18px;
    padding-right: 15px;
    margin-right: 25px;
    font-weight: bold;
}

.filtre i{
    background-color: #DEEBFF;
    border-radius: 25px;
    min-height: 50px;
    min-width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065FC;
    margin: -2px;
    margin-right: 10px;
}

.info{
    display: flex;
    align-items: center;
    padding-top: 20px;
    margin-bottom: 40px;
}

.logoinfo{
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 30px;
    min-width: 30px;
    color: #0065FC;
    border: solid 2px #F2F2F2;
    border-radius: 25px;
    margin-right: 10px;

}

.info p{
    font-size: 15px;
}

@media all and (max-width: 1024px){
    .recherche{
        width: 100%;
        margin-top: 20px;
    }
    
    .titrerecherche{
        width: 290px;
    }
    .filtre{
        flex-wrap: wrap;
        margin-bottom: 35px;
    }

    .t1{
        margin-bottom: 20px;
    }

    .filtrelogo{
        flex-wrap: wrap;
    }
    .l1{
        margin-bottom: 10px;
        order: 1;
    }
    .l2{
        order: 4;
    }
    .l3{
        margin-bottom: 10px;
        order: 2;
    }
    .l4{
        margin-bottom: 10px;
        order: 3;
    }
    .info{
        width: 330px;
    }
}

/* **********section recherche********** */
/* **********section hébergements********** */
.hébergements{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.boite1{
    width: 100%;
    max-width: 880px;
    background-color: #F2F2F2;
    padding-top: 40px;
    padding-left: 40px; 
    border-radius: 25px;
    margin-right: 40px;
    margin-bottom: 15px;
}

.afficher{
    font-weight: bold;
}

.boite1 a:visited{
    color: black;
}

.hébergementsh2{
    padding-bottom: 25px;
    font-size: 20px;
}

.hébergementsarticle{
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
}

.hébergementsarticle h3{
    margin-bottom: 6px;
}

.hébergementsarticle p{
    margin-bottom: 3px;
}

.hébergementsarticle i{
    color: #0065FC;
}

.hébergementsarticle article{
    height: 200px;
    width: 235px;
    border:solid 5px white;
    border-radius: 25px;
    background-color: white;
    box-shadow: 1px 1px 12px #555;

}
.hébergementsarticle article img{
    height: 115px;
    width: 235px;
    border-bottom: solid 5px white;
    border-right: solid 5px white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    object-fit: cover;
}

.populaires{
    background-color: #F2F2F2;
    width: 100%;
    max-width: 420px;
    padding-top: 40px;
    padding-left: 40px; 
    border-radius: 25px;
    padding-right: 40px;
    margin-bottom: 15px;
}

.popuh2{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-bottom: 25px;
}

.logopopu{
    font-size: 30px;
}

aside article{
    display: flex;
    border: solid 5px white;
    height: 145px;
    width: 345px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: white;
    margin-bottom: 30px;
    box-shadow: 1px 1px 12px #555;
}

aside a:visited{
    color:black
}

aside i{
    color: #0065FC;
}

aside article img{
    height: 145px;
    width: 125px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    object-fit: cover;
}

.popuarticle{
    flex-direction: column;
}

.popuarticle h3{
    margin-bottom: 15px;
}

.popuetoile{
    margin-top: 65px;
}

.popuetoile2{
    margin-top: 40px;
}

.popuetoile3{
    margin-top: 65px;
}

@media all and (max-width: 1024px)
{
    .hébergements{
        flex-direction: column;
    }
    
    .boite1{
        background-color: white;
        order: 2;
        height: 1395px;
        padding-bottom: 130px;
        max-width: 375px;
    }

    .hébergementsarticle{
        flex-direction: column;
    }

    .populaires{
        order: 1;
        min-width: 375px;
        max-width: 375px;
        margin-left: -10%;
    }
}
/* **********section hébergements********** */
/* **********section activités********** */
.activités{
    margin-top: 65px;
    width: 100%;
}

.boite2 h2{
    padding-bottom: 30px;
}

.activitésarticle{
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
    row-gap: 30px
}

.activitésarticle a:visited{
    color:black
}

.activitésarticle h3{
    margin-top: 25px;
    margin-left: 20px;
    padding-bottom: 20px;
}

.activitésarticle1 article{
    border-radius: 25px;
    background-color: white;
    box-shadow: 1px 1px 12px #555;
    order: 1;
    min-width: 300px;
    max-width: 300px;
}
.activitésarticle1 img{
    height: 390px;
    width: 300px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    object-fit: cover;
}
.activitésarticle2 article{
    border-radius: 25px;
    background-color: white;
    box-shadow: 1px 1px 12px #555;
    margin-bottom: 30px;
    min-width: 300px;
    max-width: 300px;
}

.activitésarticle2 img{
    height: 180px; 
    width: 300px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    object-fit: cover;
}

.activitésarticle3 article{
    border-radius: 25px;
    background-color: white;
    box-shadow: 1px 1px 12px #555;
    min-width: 300px;
    max-width: 300px;
}

.activitésarticle3 img{
    height: 110px; 
    width: 300px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    object-fit: cover;
}

.activitésarticle4 article{
    border-radius: 25px;
    background-color: white;
    box-shadow: 1px 1px 12px #555;
    min-width: 300px;
    max-width: 300px;
}

.activitésarticle4 img{
    height: 390px; 
    width: 300px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    object-fit: cover;
}

.activitésarticle5 article{
    border-radius: 25px;
    background-color: white;
    box-shadow: 1px 1px 12px #555;
    margin-bottom: 30px;
    min-width: 300px;
    max-width: 300px;
}

.activitésarticle5 img{
    height: 140px; 
    width: 300px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    object-fit: cover;
}

.activitésarticle6 article{
    border-radius: 25px;
    background-color: white;
    box-shadow: 1px 1px 12px #555;
    min-width: 300px;
    max-width: 300px;
}

.activitésarticle6 img{
    height: 150px; 
    width: 300px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    object-fit: cover;
}

@media all and (max-width: 1024px){
    .activitésarticle{
        flex-direction: column;
        max-width: 330px;
    }
    .activitésarticle img{
        max-width: 330px;
    }
    .hébergementsarticle{
        width: 375px;
    }
}
/* **********section activités********** */

/* **********Main********** */
/* **********Footer********** */
.footer{
    background-color: #F2F2F2;
    display: flex;
    width: 100%;
}

.footer li{
    margin-bottom: 20px;
}

.f1{
    margin-top:45px;
    margin-left: 50px;
    margin-right: 30%;
}

.f2{
    margin-top:45px;
    margin-right: 30%;
}

.f3{
    margin-top:45px;
}

.f1 h3{
    margin-bottom: 20px;
}
.f2 h3{
    margin-bottom: 20px;
}
.f3 h3{
    margin-bottom: 20px;
}

.f1 a:visited{
    color: black;
}

.f2 a:visited{
    color: black;
}

.f3 a:visited{
    color: black;
}

@media all and (max-width: 1024px){
    .footer{
        flex-direction: column;
    }
    .f2{
        margin-left: 50px;
    }
    .f3{
        margin-left: 50px;
    }
}
/* **********Footer********** */

/* **********Body********** */