*{
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    list-style-type: none;
}

/* **********Body********** */

/* **********Header********** */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    margin-right: 50px;
    margin-left: 50px;
}

header img{
    cursor: pointer;
    width: 95px;
    height: 45px;
}

.navheader{
    cursor: pointer;
    display: flex;
}

.navheader1{
    border-top: 2px solid;
    border-top-color: #0065FC;
    margin-right: 70px;
    padding: 15px 0;
    color: #0065FC;
    font-weight: 500;
}

.navheader1 a{
    color: #0065FC;
    font-weight: 500;  
}

.navheader1:visited{
    color:#0065FC;
}
.navheader1 a:visited{
    color:#0065FC;
}

.navheader2{
    margin-right: 70px;
    color: black;
    font-weight: 500;
    padding: 1rem 0;
}

.navheader2 a{
    
    color: black;
    font-weight: 500;
}

.navheader2 a:visited{
    color: black;
}

.navheader2:visited{
    color: black;
}

.navheader3{
    margin-right: 75px;
    color: #0065FC;
    font-weight: bold;
    padding: 1rem 0;
}

.navheader3 a{
    margin-right: 75px;
    color: #0065FC;
    font-weight: bold;
}

.navheader3 a:visited{
    color:#0065FC;
}

.navheader3:visited{
    color:#0065FC;
}
/* **********Header********** */
/* **********Main********** */
main{
    padding-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
}

/* **********section recherche********** */
.titrerecherche h1{
    font-size: 20px;
}

.titrerecherche p{
    padding-top: 5px;
    font-size: 15px;
}

.recherche form{
    display: flex;
    margin-top: 20px;
    padding-top: 20px;
}

.logorecherche{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #F2F2F2;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    
}

.logorecherche i{
    padding-left: 20px;
    padding-right: 20px;
}

.zonerechercher{
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-bottom: solid #F2F2F2;
    border-top: solid #F2F2F2;
}

form button{
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 13px;
    font-weight: bold;
    background-color: #0065FC;
    color: white;
}

.filtre{
    display: flex;
    padding-top: 40px;
    align-items: center;
}

.filtre h3{
    margin-right: 30px;
    font-size: 17px;
}

.filtre div{
    display: flex;
    align-items: center;
    font-size: 18px;
    border: solid 2px #F2F2F2;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    padding-right: 15px;
    margin-right: 25px;
    font-weight: bold;
}

.filtre i{
    background-color: #DEEBFF;
    border-radius: 25px;
    min-height: 50px;
    min-width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065FC;
    margin: -2px;
    margin-right: 10px;
}

.info{
    display: flex;
    align-items: center;
    padding-top: 20px;
    margin-bottom: 40px;
}

.logoinfo{
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 30px;
    min-width: 30px;
    color: #0065FC;
    border: solid 2px #F2F2F2;
    border-radius: 25px;
    margin-right: 10px;

}

.info p{
    font-size: 15px;
}
/* **********section recherche********** */
/* **********section hébergements********** */
.hébergements{
    
    padding-top:40px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 25px;
    background-color: #F2F2F2;
    height: 625px;
    width: 880px;
}

.hébergementsh2{
    display: flex;
    padding-bottom: 25px;
    font-size: 20px;
}

.hébergementsarticle{
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
}

.hébergementsarticle h3{
    margin-bottom: 6px;
}

.hébergementsarticle p{
    margin-bottom: 3px;
}

.hébergementsarticle i{
    color: #0065FC;
}

.hébergements div article{
    height: 200px;
    width: 235px;
    border:solid 5px white;
    border-radius: 25px;
    background-color: white;

}

.hébergements div article img{
    height: 115px;
    width: 235px;
    border-bottom: solid 5px white;
    border-right: solid 5px white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

aside{
    border: solid;
    background-color: #F2F2F2;
}

/* **********section hébergements********** */
/* **********section activités********** */

/* **********section activités********** */
/* **********Main********** */
/* **********Footer********** */

/* **********Footer********** */

/* **********Body********** */