*{
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    list-style-type: none;
}

/* **********Body********** */

/* **********Header********** */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    margin-right: 50px;
    margin-left: 50px;
}

header img{
    cursor: pointer;
    width: 95px;
    height: 45px;
}

.navheader{
    cursor: pointer;
    display: flex;
}

.navheader1{
    border-top: 2px solid;
    border-top-color: #0065FC;
    margin-right: 70px;
    padding: 15px 0;
    color: #0065FC;
    font-weight: 500;
}

.navheader1 a{
    color: #0065FC;
    font-weight: 500;  
}

.navheader1:visited{
    color:#0065FC;
}
.navheader1 a:visited{
    color:#0065FC;
}

.navheader2{
    margin-right: 70px;
    color: black;
    font-weight: 500;
    padding: 1rem 0;
}

.navheader2 a{
    
    color: black;
    font-weight: 500;
}

.navheader2 a:visited{
    color: black;
}

.navheader2:visited{
    color: black;
}

.navheader3{
    margin-right: 75px;
    color: #0065FC;
    font-weight: bold;
    padding: 1rem 0;
}

.navheader3 a{
    margin-right: 75px;
    color: #0065FC;
    font-weight: bold;
}

.navheader3 a:visited{
    color:#0065FC;
}

.navheader3:visited{
    color:#0065FC;
}
/* **********Header********** */
/* **********Main********** */
main{
    padding-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
}

/* **********section recherche********** */
.titrerecherche h1{
    font-size: 20px;
}

.titrerecherche p{
    padding-top: 5px;
    font-size: 15px;
}

.recherche form{
    display: flex;
    margin-top: 20px;
    padding-top: 20px;
}

.logorecherche{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #F2F2F2;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    
}

.logorecherche i{
    padding-left: 20px;
    padding-right: 20px;
}

.zonerechercher{
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-bottom: solid #F2F2F2;
    border-top: solid #F2F2F2;
}

form button{
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 13px;
    font-weight: bold;
    background-color: #0065FC;
    color: white;
}

.filtre{
    display: flex;
    padding-top: 40px;
    align-items: center;
}

.filtre h3{
    margin-right: 30px;
    font-size: 17px;
}

.filtre div{
    display: flex;
    align-items: center;
    font-size: 18px;
    border: solid 2px #F2F2F2;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    padding-right: 15px;
    margin-right: 25px;
    font-weight: bold;
    cursor: pointer;
}

.filtre div:hover{
    background-color: #0065FC;
}

.filtre i{
    background-color: #DEEBFF;
    border-radius: 25px;
    min-height: 50px;
    min-width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065FC;
    margin: -2px;
    margin-right: 10px;
}

.info{
    display: flex;
    align-items: center;
    padding-top: 20px;
    margin-bottom: 40px;
}

.logoinfo{
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 30px;
    min-width: 30px;
    color: #0065FC;
    border: solid 2px #F2F2F2;
    border-radius: 25px;
    margin-right: 10px;

}

.info p{
    font-size: 15px;
}
/* **********section recherche********** */
/* **********section hébergements********** */
.hébergements{
    display: flex;
}

.boite1{
    height: 625px;
    width: 880px;
    background-color: #F2F2F2;
    padding-top: 40px;
    padding-left: 40px; 
    border-radius: 25px;
    margin-right: 40px;
}

.afficher{
    font-weight: bold;
}

.boite1 a:visited{
    color: black;
}

.hébergementsh2{
    padding-bottom: 25px;
    font-size: 20px;
}

.hébergementsarticle{
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
}

.hébergementsarticle h3{
    margin-bottom: 6px;
}

.hébergementsarticle p{
    margin-bottom: 3px;
}

.hébergementsarticle i{
    color: #0065FC;
}

.hébergementsarticle article{
    height: 200px;
    width: 235px;
    border:solid 5px white;
    border-radius: 25px;
    background-color: white;
    box-shadow: 1px 1px 12px #555;

}
.hébergementsarticle article img{
    height: 115px;
    width: 235px;
    border-bottom: solid 5px white;
    border-right: solid 5px white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.populaires{
    background-color: #F2F2F2;
    padding-top: 40px;
    padding-left: 40px; 
    border-radius: 25px;
    padding-right: 40px;
}

.popuh2{
    display: flex;
    font-size: 20px;
    margin-bottom: 25px;
}

.logopopu{
    font-size: 30px;
    padding-left: 118px;
}

aside article{
    display: flex;
    border: solid 5px white;
    height: 145px;
    width: 345px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: white;
    margin-bottom: 30px;
    box-shadow: 1px 1px 12px #555;
}

aside a:visited{
    color:black
}

aside i{
    color: #0065FC;
}

aside article img{
    height: 145px;
    width: 125px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.popuarticle{
    flex-direction: column;
}

.popuarticle h3{
    margin-bottom: 15px;
}

.popuetoile{
    margin-top: 65px;
}

.popuetoile2{
    margin-top: 40px;
}

.popuetoile3{
    margin-top: 65px;
}
/* **********section hébergements********** */
/* **********section activités********** */
.activités{
    margin-top: 65px;
}

.boite2 h2{
    padding-bottom: 30px;
}

.activitésarticle{
    display: flex;
    column-gap: 30px;
    margin-bottom: 60px;
    row-gap: 30px
}

.activitésarticle a:visited{
    color:black
}

.activitésarticle h3{
    margin-top: 25px;
    margin-left: 20px;
    padding-bottom: 20px;
}

.activitésarticle1 article{
    border-radius: 25px;
    background-color: white;
    box-shadow: 1px 1px 12px #555;
    order: 1;
}
.activitésarticle1 img{
    height: 390px;
    width: 300px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}
.activitésarticle2 article{
    border-radius: 25px;
    background-color: white;
    box-shadow: 1px 1px 12px #555;
    margin-bottom: 30px;
}

.activitésarticle2 img{
    height: 180px; 
    width: 300px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.activitésarticle3 article{
    border-radius: 25px;
    background-color: white;
    box-shadow: 1px 1px 12px #555;
}

.activitésarticle3 img{
    height: 110px; 
    width: 300px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.activitésarticle4 article{
    border-radius: 25px;
    background-color: white;
    box-shadow: 1px 1px 12px #555;
}

.activitésarticle4 img{
    height: 390px; 
    width: 300px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.activitésarticle5 article{
    border-radius: 25px;
    background-color: white;
    box-shadow: 1px 1px 12px #555;
    margin-bottom: 30px;
}

.activitésarticle5 img{
    height: 140px; 
    width: 300px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.activitésarticle6 article{
    border-radius: 25px;
    background-color: white;
    box-shadow: 1px 1px 12px #555;
}

.activitésarticle6 img{
    height: 150px; 
    width: 300px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}
/* **********section activités********** */

/* **********Main********** */
/* **********Footer********** */
.footer{
    background-color: #F2F2F2;
    display: flex;
}

.footer li{
    margin-bottom: 20px;
}

.f1{
    margin-top:45px;
    margin-left: 50px;
    margin-right: 30%;
}

.f2{
    margin-top:45px;
    margin-right: 30%;
}

.f3{
    margin-top:45px;
}

.f1 h3{
    margin-bottom: 20px;
}
.f2 h3{
    margin-bottom: 20px;
}
.f3 h3{
    margin-bottom: 20px;
}

.f1 a:visited{
    color: black;
}

.f2 a:visited{
    color: black;
}

.f3 a:visited{
    color: black;
}

/* **********Footer********** */

/* **********Body********** */