*{
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    list-style-type: none;
}

/* **********Body********** */

/* **********Header********** */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
    margin-left: 50px;
}

header img{
    cursor: pointer;
    width: 95px;
    height: 45px;
}

.navheader{
    cursor: pointer;
    display: flex;
}

.navheader1{
    border-top: 2px solid;
    border-top-color: #0065FC;
    margin-right: 70px;
    padding: 15px 0;
    color: #0065FC;
    font-weight: 500;
}

.navheader1 a{
    color: #0065FC;
    font-weight: 500;  
}

.navheader1:visited{
    color:#0065FC;
}
.navheader1 a:visited{
    color:#0065FC;
}

.navheader2{
    margin-right: 70px;
    color: black;
    font-weight: 500;
    padding: 1rem 0;
}

.navheader2 a{
    
    color: black;
    font-weight: 500;
}

.navheader2 a:visited{
    color: black;
}

.navheader2:visited{
    color: black;
}

.navheader3{
    margin-right: 75px;
    color: #0065FC;
    font-weight: bold;
    padding: 1rem 0;
}

.navheader3 a{
    margin-right: 75px;
    color: #0065FC;
    font-weight: bold;
}

.navheader3 a:visited{
    color:#0065FC;
}

.navheader3:visited{
    color:#0065FC;
}
/* **********Header********** */
/* **********Main********** */
main{
    padding-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
}

/* **********section recherche********** */

/* **********section recherche********** */
/* **********section hébergements********** */

/* **********section hébergements********** */
/* **********section activités********** */

/* **********section activités********** */
/* **********Main********** */
/* **********Footer********** */

/* **********Footer********** */

/* **********Body********** */